body {
    background-color: darkolivegreen;
}

.col-md-3 {
    background-color: rgb(143, 124, 101);
}

.col-md-9 {
    background-color: aquamarine;
}

.col-md-9:hover {
    background-color: cyan;
}